/** POST **/
:root {
    --bgHeight: 0;
}
.postTypePost {
    display: grid;
    grid-template-areas: "articleContent" "articlePagination";
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    background: linear-gradient(35deg, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
    color: silver;
}

#articleContent {
    grid-area: articleContent;
}

#articleHeader {
    position: relative;
    overflow: hidden;
    font-size: 450%;
    width: 100%;
    height: 0;
    padding-bottom: 35%;
}

.parallaxBg {
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 0;
}


#articleH1 {
    min-height: 1.5em;
    font-size: 100%;
    /*line-height: 1.5em;*/
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    color: silver;
    bottom: 2%;
    box-shadow: 0 0 10px 1px silver, inset 0 0 50px 10px black;
    text-shadow: 1px 1px 3px silver;
}

.articleBody {
    font-size: 250%;
    height: auto;
}


.articleBody h2 {
    background: linear-gradient(45deg, rgba(75, 75, 75, 0.8),
        rgba(105, 105, 105, 0.8) 50%, rgba(75, 75, 75, 0.8)), #191919;
    padding: 0 4% 0 4%;
    box-sizing: border-box;
    font-size: 150%;
    min-height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    box-shadow: 8px 8px 4px 0 #2d2d2d;
    color: #d7d7d7;
    margin: 3% auto 0 auto;
}

.articleBody h2:first-child {
    margin: 1% auto 0 auto;
}

.articleBody p {
    box-sizing: border-box;
    padding: 0 6% 0 6%;
}

.articleBody ol, .articleBody ul, .wp-block-table {
    box-sizing: border-box;
    padding: 0 10% 0 10%;
}


/** POST PAGINATION**/
#articlePagination {
    padding: 0.5% 1% 20px 1%;
    box-sizing: border-box;
    grid-area: articlePagination;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#articlePaginationPrev, #articlePaginationNext {
    width: 46%;
}

@media only screen and (min-width: 1024px) {
    #articlePaginationPrev, #articlePaginationNext {
        width: 48%;
    }
}

#articlePagination .buttonGradient {
    transition: all 0.3s ease;
}

@media only screen and (min-width: 1024px) {
    #articlePagination .buttonGradient:hover {
        box-shadow: 0 10px 20px 10px #191919;
    }
}

#articlePaginationNext {
    padding: 0;
}

#articlePaginationPrevLink, #articlePaginationNextLink  {
    width: 100%;
    height: 100%;
    font-size: 250%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 0;
    box-sizing: border-box;
    text-align: center;
}