/*
=====================================================
    POST
=====================================================
*/
#postArticle {
    background: linear-gradient(35deg, rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5));
}

#postHeader {
    font-size: 4rem;
    width: 100%;
    height: auto;
    padding-top: var(--parallaxBgHeight);
    margin-bottom: 1%;
}

@media only screen and (min-width: 600px) {
    #postHeader {
        /* - 3rem postTitle padding (top + bottom) - 4rem postTitle font size - 1% postHeader padding bottom*/
        padding-top: calc(var(--parallaxBgHeight) - 1% - 7rem);
        padding-bottom: 1%;
    }
}

.parallaxBg {
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position-y: 0;
}

#postTitle {
    padding: 1.5rem 5% 1.5rem 5%;
    font-size: 4rem;
    width: 100%;
    line-height: 1em;
    box-shadow: 0 0 10px 1px silver, inset 0 0 50px 20px black;
    text-shadow: 1px 1px 3px silver;
}

#postContent h2:first-child {
    margin: 1% auto 2% auto;
}

/** POST PAGINATION **/
#postPagination {
    padding: 1% 1% 2% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 600px) {
    #postPagination {
        flex-direction: row;
    }
}

#postPaginationPrev, #postPaginationNext {
    width: 100%;
    padding: 0;
    margin: 1% 0 1% 0;
}

@media only screen and (min-width: 600px) {
    #postPaginationPrev, #postPaginationNext {
        width: 46%;
        margin: 0;
    }
}

@media only screen and (min-width: 1024px) {
    #postPaginationPrev, #postPaginationNext {
        width: 48%;
    }
}

#postPaginationPrevLink, #postPaginationNextLink  {
    font-size: 2.5rem;
    flex-direction: column;
    padding: 2% 0 2% 0;
}