.woocommerce {
    text-align: center;
}

.woocommerce-billing-fields__field-wrapper > *, .woocommerce-additional-fields__field-wrapper > * {
    display: block;
    width: 100%;
    height: 100%;
    margin: 1% 0 1% 0;
}

.woocommerce-billing-fields__field-wrapper p > *, .woocommerce-additional-fields__field-wrapper p > * {
    display: block;
    width: 80%;
    margin: 0 auto 0 auto;
}

.woocommerce-input-wrapper input {
    width: 100%;
    font-size: 2.5rem;
    line-height: 2em;
    border-radius: 5px;
}

#billing_country {
    width: 100%;
}

.woocommerce-input-wrapper textarea {
    width: 100%;
    font-size: 2.5rem;
    height: 6em;
    resize: vertical;
}

.woocommerce-checkout-review-order-table tr th:first-child {
    width: 60%;
}


.woocommerce-form__label-for-checkbox {
    cursor: pointer;
}

.woocommerce-terms-and-conditions-link, .woocommerce-privacy-policy-link {
    color: #a5a5a5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.woocommerce-terms-and-conditions-link:hover, .woocommerce-privacy-policy-link:hover {
    color: #878787;
}

.woocommerce-checkout-payment button {
    background: var(--gradientButton);
    border: var(--gradientButtonBorder);
    width: 80%;
    font-size: 3rem;
    font-weight: bolder;
    height: 3em;
    cursor: pointer;
    position: relative;
    outline: none;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.woocommerce-checkout-payment button:hover {
    letter-spacing: 2px;
}