:root {
    --customGoldLeftBorder: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
    rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%) no-repeat left 50% / 2px 100%;
    --customGoldRightBorder: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
            rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%) no-repeat right 50% / 2px 100%;
    --customGoldTopBorder: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
        rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%) no-repeat center top / 100% 2px;
    --customGoldBottomBorder: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
        rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%) no-repeat center bottom / 100% 2px;
    --gradientButtonWithoutBorders:
            linear-gradient(135deg, rgba(6, 6, 6, 0.7) 12.5%,
            rgba(12, 12, 12, 0.7) 12.5%, rgba(12, 12, 12, 0.7) 25%,
            rgba(18, 18, 18, 0.7) 25%, rgba(18, 18, 18, 0.7) 37.5%,
            rgba(24, 24, 24, 0.7) 37.5%, rgba(24, 24, 24, 0.7) 50%,
            rgba(30, 30, 30, 0.7) 50%, rgba(30, 30, 30, 0.7) 62.5%,
            rgba(36, 36, 36, 0.7) 62.5%, rgba(36, 36, 36, 0.7) 75%,
            rgba(42, 42, 42, 0.7) 75%, rgba(42, 42, 42, 0.7) 87.5%,
            rgba(48, 48, 48, 0.7) 87.5%),
            linear-gradient(45deg, rgb(60, 60, 60) 12.5%,
            rgb(54, 54, 54) 12.5%, rgb(54, 54, 54) 25%,
            rgb(48, 48, 48) 25%, rgb(48, 48, 48) 37.5%,
            rgb(42, 42, 42) 37.5%, rgb(42, 42, 42) 50%,
            rgb(36, 36, 36) 50%, rgb(36, 36, 36) 62.5%,
            rgb(30, 30, 30) 62.5%, rgb(30, 30, 30) 75%,
            rgb(24, 24, 24) 75%, rgb(24, 24, 24) 87.5%,
            rgb(18, 18, 18) 87.5%);
    --gradientButton: var(--customGoldLeftBorder), var(--customGoldRightBorder), var(--gradientButtonWithoutBorders);

}

/** NEWSLETTER **/
.newsletterForm {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.newsletterForm input:not([type="submit"]) {
    background-color: transparent;
    margin-right: 1%;
    background-image: linear-gradient(to top, #000000, rgba(0,0,0,0) 50%);
    border-bottom: 1px solid silver;
    box-sizing: border-box;
}

.newsletterForm input {
    border: 0;
    outline: none;
    text-align: center;
    color: silver;
}

.newsletterForm input::placeholder {
    color: #7f7f7f;
}

.newsletterSubmitButton {
    background: linear-gradient(to top, #0f0f0f 20% , #191919 50%, #0f0f0f 80%);
    box-shadow: 1px 1px 2px 0 silver;
    font-weight: bold;
    cursor: pointer;
}

.newsletterSubmitButton:hover {
    background: linear-gradient(to top, rgb(35, 35, 35) 20% , rgb(50, 50, 50) 50%, rgb(35, 35, 35) 80%);
    background-size: 1% 70%;
    background-position-y: 550%;
}







/** SITE BUTTONS**/
.gradientButtonAnchor::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    content: '';
    background: linear-gradient(to top, #282828 , #191919 50%, #282828);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.gradientButtonAnchor:hover::before {
    opacity: 1;
}


.gradientButton {
    color: silver;
    background: linear-gradient(to top, #191919, #191919 20% , #282828 50%, #191919 80%, #191919 100%);
    box-shadow: 0 0 10px 1px silver;
    z-index: 2;
}

.gradientButtonAnchor {
    color: silver;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s ease;
    background: transparent;
    position: relative;
    z-index: 4;
}


.buttonGradient {
    background: var(--gradientButton);
    border: 5px groove #282828;
    border-radius: 10px;
    box-shadow: 0 3px 2px 1px #191919;
}

.buttonGradient a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: silver;
    font-weight: bold;
    position: relative;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1024px) {
    .buttonGradient a:hover {
        letter-spacing: 2px;
    }
}

.snakeAnimationButton {
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {
    .snakeAnimationButton {
        background: var(--gradientButtonWithoutBorders);
    }
}

.leftButtonAnimation, .rightButtonAnimation, .topButtonAnimation, .bottomButtonAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.leftButtonAnimation {
    background: linear-gradient(to bottom, rgba(184, 143, 0, 1), rgba(0,0,0,0)) no-repeat left 50% / 2px 100%;
    animation: toTopAnimation 6s linear infinite;
}

.rightButtonAnimation {
    background: linear-gradient(to top, rgba(184, 143, 0, 1), rgba(0,0,0,0)) no-repeat right 50% / 2px 100%;
    animation: toTopAnimation 6s linear reverse infinite;
}

.topButtonAnimation {
    background: linear-gradient(to left, rgba(184, 143, 0, 1), rgba(0,0,0,0)) no-repeat center top / 100% 2px;
    animation: toLeftAnimation 6s linear reverse infinite;
    transform: translateX(-100%);
    animation-delay: 3s;
}

.bottomButtonAnimation {
    background: linear-gradient(to right, rgba(184, 143, 0, 1), rgba(0,0,0,0)) no-repeat center bottom / 100% 2px;
    animation: toLeftAnimation 6s linear infinite;
    transform: translateX(100%);
    animation-delay: 3s;

}

@keyframes toTopAnimation {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes toLeftAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}