/** FOOTER **/
footer {
    grid-area: footer;
    background-image: linear-gradient(to top, #191919, #282828 50%, #191919 100%);
    border-top: 4px groove #b88f00;
    display: grid;
    grid-template-areas: "footerNewsletter" "footerItemBorder" "footerContact" "footerCopyright";
    grid-template-rows: auto 2px auto auto;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 1200px) {
    footer {
        grid-template-areas: "footerNewsletter footerItemBorder footerContact" "footerCopyright footerCopyright footerCopyright";
        grid-template-rows: auto auto;
        grid-template-columns: 1.5fr 2px 1fr;
    }
}







/** FOOTER NEWSLETTER**/
#footerNewsletter {
    grid-area: footerNewsletter;
    color: silver;
    display: grid;
    padding: 2% 5% 2% 5%;
    box-sizing: border-box;
    grid-template-areas: "footerNewsletterTitle" "footerNewsletterSubtitle" "footerNewsletterDescription" "footerNewsletterForm";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    #footerNewsletter {
        padding: 2% 5% 2% 20%;
    }
}

#footerNewsletter .newsletterTitle {
    grid-area: footerNewsletterTitle;
    padding: 0;
    font-size: 3rem;
    margin: 1% 0 3% 0;
}

@media only screen and (min-width: 1024px) {
    #footerNewsletter .newsletterTitle {
        font-size: 320%;
    }
}

#footerNewsletter .newsletterSubtitle {
    grid-area: footerNewsletterSubtitle;
    padding: 0;
    font-size: 2.5rem;
    margin: 0 0 2% 0;
}

@media only screen and (min-width: 1024px) {
    #footerNewsletter .newsletterSubtitle {
        font-size: 260%;
    }
}


#footerNewsletter .newsletterDescription {
    grid-area: footerNewsletterDescription;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    #footerNewsletter .newsletterDescription {
        font-size: 200%;
        width: 70%;
        margin: auto;
    }
}

#footerNewsletter .newsletterForm {
    grid-area: footerNewsletterForm;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#footerNewsletter .newsletterForm input {
    display: block;
    width: 80%;
    height: 6rem;
    margin-top: 10px;
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    #footerNewsletter .newsletterForm input {
        font-size: 250%;
    }
}

#footerNewsletter .newsletterForm .newsletterSubmitButton {
    height: 8rem;
}

.footerItemBorder {
    grid-area: footerItemBorder;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
    rgba(155, 115, 0, 0.2) 70%, rgba(0, 0, 0, 0) 80%);
}

@media only screen and (min-width: 1400px) {
    .footerItemBorder {
        background: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
        rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%);
    }
}







/** FOOTER CONTACT **/
#footerContact {
    grid-area: footerContact;
    color: silver;
    box-sizing: border-box;
    padding: 2% 5% 2% 5%;
    text-align: center;
}

@media only screen and (min-width: 1400px) {
    #footerContact {
        padding: 3% 0 3% 5%;
        text-align: left;
    }
}

#footerContactTitle {
    margin: 1.5% 0 3% 0;
    font-size: 3rem;
}

@media only screen and (min-width: 1024px) {
    #footerContactTitle {
        font-size: 4rem;
    }
}

#footerContactList li {
    padding: 1% 0 1% 0;
    font-weight: bold;
    font-size: 2.5rem;
}

@media only screen and (min-width: 1024px) {
    #footerContactList li {
        font-size: 3rem;
    }
}

#footerContact a {
    color: silver;
    font-weight: normal;
}







/** FOOTER COPYRIGHT**/
#footerCopyright {
    grid-area: footerCopyright;
    background-image: linear-gradient(to top, #9b9b9b, #b9b9b9 50%, #9b9b9b 100%);
    font-size: 2rem;
}

@media only screen and (min-width: 1024px) {
    #footerCopyright {
        font-size: 2.5rem;
    }
}

#footerCopyright span {
    display: block;
    width: 100%;
    text-align: center;
}

#footerCopyright span a {
    font-weight: bold;
}