/*
=====================================================
    FOOTER
=====================================================
*/
#siteFooter {
    grid-area: footer;
    border-top: 4px groove #b88f00;
    display: grid;
    grid-template-areas: "ftrNewsletter" "ftrContact" "ftrLinks" "ftrCopyright";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    padding: 1% 0 0 0;
}

@media only screen and (min-width: 1200px) {
    #siteFooter {
        grid-template-areas: "ftrNewsletter ftrContact" "ftrLinks ftrLinks" "ftrCopyright ftrCopyright";
        grid-template-rows: 1fr auto auto;
        grid-template-columns: 1fr 1fr;
    }
}



/*
=====================================================
    FOOTER NEWSLETTER
=====================================================
*/
#ftrNewsletter {
    grid-area: ftrNewsletter;
    padding: 0 5% 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#ftrNewsletterTitle {
    font-size: 3.5rem;
}

#ftrNewsletterSubtitle {
    font-size: 3rem;
    padding: 2% 0 2% 0;
}

#ftrNewsletterDescription {
    font-size: 2rem;
    height: auto;
}

@media only screen and (min-width: 1024px) {
    #ftrNewsletterDescription {
        padding: 0 15% 0 15%;
    }
}

#ftrNewsletterForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 2% 10% 0 10%;
}

#ftrNewsletterForm input {
    display: block;
    width: 100%;
    font-size: 2rem;
    padding: 1% 0 1% 0;
}

#ftrNewsletterForm #ftrNewsletterSubmitButton {
    padding: 5% 0 5% 0;
}



/*
=====================================================
    FOOTER CONTACT
=====================================================
*/
#ftrContact {
    grid-area: ftrContact;
    padding: 0 5% 2% 5%;
    background: var(--customGoldTopBorder);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (min-width: 1200px) {
    #ftrContact {
        background: var(--customGoldLeftBorder);
    }
}

#ftrContactTitle {
    font-size: 3.5rem;
}

#ftrContactList li {
    padding: 1% 0 0 0;
    font-weight: bold;
    font-size: 2.2rem;
}

#ftrContact a:not([class="ftrContactLinks"]) {
    font-weight: normal;
}

#ftrContactForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    border: 0;
    position: relative;
    padding: 0 10% 0 10%;
}

#ftrContactForm input:not([type="submit"]) {
    background: linear-gradient(to top, #000000, rgba(0,0,0,0) 50%);
    border-bottom: 1px solid silver;
}

#ftrContactForm input, #ftrContactFormMessage {
    display: block;
    border: 0;
    outline: none;
    width: 100%;
    margin: 2% 0 0 0;
    font-size: 2rem;
}

#ftrContactFormMessage {
    border: 5px groove #282828;
    background: rgba(0, 0, 0, 0.21);
    resize: none;
}

#ftrContactFormSubmit {
    font-size: 2rem;
    padding: 5% 0 5% 0;
    background: linear-gradient(to top, #0f0f0f 20% , #191919 50%, #0f0f0f 80%);
    box-shadow: 1px 1px 2px 0 silver;
    font-weight: bold;
}

#ftrContactFormSubmit:hover {
    background: linear-gradient(to top, rgb(35, 35, 35) 20% , rgb(50, 50, 50) 50%, rgb(35, 35, 35) 80%);
}

.hidden {
    display: none;
}

#ftrContactFormSuccessInfo {
    display: none;
    position: absolute;
    width: 80%;
    height: 100%;
    border: 5px groove #282828;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    font-size: 250%;
}



/*
=====================================================
    FOOTER LINKS
=====================================================
*/

#ftrLinks {
    grid-area: ftrLinks;
    padding: 5px 0 5px 0;
}

#ftrLinksList {
    font-weight: bold;
}

#ftrLinksList li {
    padding: 0 5px 0 5px;
}

@media only screen and (min-width: 1200px) {
    #ftrLinksList {
        font-size: 150%;
    }
}



/*
=====================================================
    FOOTER COPYRIGHT
=====================================================
*/
#ftrCopyright {
    grid-area: ftrCopyright;
    background-image: linear-gradient(to top, #9b9b9b, #b9b9b9 50%, #9b9b9b 100%);
    font-size: 1.5rem;
}

#ftrCopyright p {
    color: black;
}

#ftrCopyright p a {
    font-weight: bold;
    color: black;
}

#ftrCopyright p a:hover {
    color: #373737;
}