/** FRONT PAGE **/
#frontPageArticle {
    display: grid;
    grid-template-areas: "frontPageContentContainer" "frontPagePictureContainer";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 1024px) {
    #frontPageArticle {
        grid-template-areas: "frontPagePictureContainer frontPageContentContainer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
    }
}

#frontPagePictureContainer {
    grid-area: frontPagePictureContainer;
    flex-direction: column;
    overflow: hidden;
    padding: 0 5% 0 5%;
}

@media only screen and (min-width: 1024px) {
    #frontPagePictureContainer {
        padding: 0;
    }
}

#frontPagePicture {
    height: auto;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    #frontPagePicture {
        width: auto;
        height: 100%;
    }
}

#frontPageContentContainer {
    grid-area: frontPageContentContainer;
    padding: 5% 5% 5% 5%;
}

@media only screen and (min-width: 1024px) {
    #frontPageContentContainer {
        padding: 5% 15% 5% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

#frontPageHeader {
    font-size: 3.5rem;
    width: 100%;
    padding: 0 0 5% 0;
}

@media only screen and (min-width: 1024px) {
    #frontPageHeader {
        padding: 0;
    }
}

#frontPageTitle {
    font-size: inherit;
}



#frontPageContent {
    font-size: 2rem;
    height: auto;
    padding: 0 0 5% 0;
}

@media only screen and (min-width: 1024px) {
    #frontPageContent {
        padding: 0;
    }
}

#frontPageFooter {
    height: auto;
    margin: 5% 0 5% 0;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    #frontPageFooter {
        margin: 0;
    }

    #frontPageFooter:hover{
        box-shadow: 0 10px 20px 10px #191919;
        transform: scale(1.1);
    }
}

#frontPageFirstArticleAnchor {
    font-size: 3.5rem;
    padding: 3% 0 3% 0;
}
