/** FRONT PAGE **/
.frontPageContentWrapper {
    display: grid;
    grid-template-areas: "frontPageText" "frontPagePicture";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
}

@media only screen and (min-width: 1024px) {
    .frontPageContentWrapper {
        grid-template-areas: "frontPagePicture frontPageText";
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
    }
}

#frontPagePictureBox {
    grid-area: frontPagePicture;
    /*width: 100%;*/
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {
    #frontPagePictureBox {
        overflow-x: hidden;

    }
}

#frontPagePicture {
    height: auto;
    width: 90%;
    margin: auto;
}

@media only screen and (min-width: 1024px) {
    #frontPagePicture {
        width: auto;
        height: 100%;
        margin: 0;
    }
}

#frontPageText {
    grid-area: frontPageText;
    color: silver;
    display: grid;
    height: 100%;
    box-sizing: border-box;
    padding: 15% 5% 15% 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10vh;
    grid-template-areas: "frontPageTitle" "frontPageDesc" "frontPageArticleButton";
}

@media only screen and (min-width: 1024px) {
    #frontPageText {
        padding: 15% 15% 15% 0;
    }
}

#frontPageTitle {
    grid-area: frontPageTitle;
    font-size: 400%;
}

@media only screen and (max-width: 1023px) {
    #frontPageTitle {
        text-align: center;
    }
}

#frontPageDesc {
    grid-area: frontPageDesc;
    font-size: 250%;
}

@media only screen and (max-width: 1023px) {
    #frontPageDesc {
        text-align: center;
    }
}

#frontPageArticleButton {
    grid-area: frontPageArticleButton;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1024px) {
    #frontPageArticleButton:hover{
        box-shadow: 0 10px 20px 10px #191919;
        width: 110%;
        height: 110%;
        margin-left: -5%;
    }
}

#frontPageArticleAnchor {
    font-size: 350%;
}
