#content {
    /*background: linear-gradient(45deg, rgba(25, 25, 25, 0.85) -50%, rgba(45, 45, 55, 0.85) 40%, rgba(30, 30, 35, 0.85) 100%), #020040;*/
    /*background:radial-gradient(circle at 38% 55%, hsla(149,0%,62%,0.1) 0%, hsla(149,0%,62%,0.1) 23%,transparent 23%, transparent 78%,transparent 78%, transparent 100%),radial-gradient(circle at 34% 85%, hsla(149,0%,62%,0.1) 0%, hsla(149,0%,62%,0.1) 7%,transparent 7%, transparent 41%,transparent 41%, transparent 100%),radial-gradient(circle at 0% 36%, hsla(149,0%,62%,0.1) 0%, hsla(149,0%,62%,0.1) 2%,transparent 2%, transparent 59%,transparent 59%, transparent 100%),radial-gradient(circle at 42% 37%, hsla(149,0%,62%,0.1) 0%, hsla(149,0%,62%,0.1) 6%,transparent 6%, transparent 21%,transparent 21%, transparent 100%),radial-gradient(circle at 48% 39%, hsla(149,0%,62%,0.1) 0%, hsla(149,0%,62%,0.1) 8%,transparent 8%, transparent 90%,transparent 90%, transparent 100%),linear-gradient(135deg, rgb(3, 43, 136),rgb(121, 53, 201))*/
    /*background: radial-gradient(circle at center center, rgb(127, 62, 211),rgb(0, 23, 70));*/
    /*background: repeating-linear-gradient(135deg, rgba(209, 209, 209, 0.03) 0px, rgba(209, 209, 209, 0.03) 40px,rgba(135, 135, 135, 0.03) 40px, rgba(135, 135, 135, 0.03) 50px,rgba(85, 85, 85, 0.03) 50px, rgba(85, 85, 85, 0.03) 82px,rgba(139, 139, 139, 0.03) 82px, rgba(139, 139, 139, 0.03) 96px,rgba(36, 36, 36, 0.03) 96px, rgba(36, 36, 36, 0.03) 113px,rgba(61, 61, 61, 0.03) 113px, rgba(61, 61, 61, 0.03) 161px,rgba(205, 205, 205, 0.03) 161px, rgba(205, 205, 205, 0.03) 196px,rgba(33, 33, 33, 0.03) 196px, rgba(33, 33, 33, 0.03) 213px),repeating-linear-gradient(135deg, rgba(66, 66, 66, 0.03) 0px, rgba(66, 66, 66, 0.03) 32px,rgba(167, 167, 167, 0.03) 32px, rgba(167, 167, 167, 0.03) 47px,rgba(226, 226, 226, 0.03) 47px, rgba(226, 226, 226, 0.03) 81px,rgba(199, 199, 199, 0.03) 81px, rgba(199, 199, 199, 0.03) 114px,rgba(76, 76, 76, 0.03) 114px, rgba(76, 76, 76, 0.03) 127px,rgba(120, 120, 120, 0.03) 127px, rgba(120, 120, 120, 0.03) 143px,rgba(73, 73, 73, 0.03) 143px, rgba(73, 73, 73, 0.03) 191px,rgba(84, 84, 84, 0.03) 191px, rgba(84, 84, 84, 0.03) 210px),repeating-linear-gradient(135deg, rgba(189, 189, 189, 0.03) 0px, rgba(189, 189, 189, 0.03) 47px,rgba(1, 1, 1, 0.03) 47px, rgba(1, 1, 1, 0.03) 77px,rgba(234, 234, 234, 0.03) 77px, rgba(234, 234, 234, 0.03) 87px,rgba(219, 219, 219, 0.03) 87px, rgba(219, 219, 219, 0.03) 98px,rgba(126, 126, 126, 0.03) 98px, rgba(126, 126, 126, 0.03) 140px,rgba(123, 123, 123, 0.03) 140px, rgba(123, 123, 123, 0.03) 157px,rgba(167, 167, 167, 0.03) 157px, rgba(167, 167, 167, 0.03) 203px,rgba(172, 172, 172, 0.03) 203px, rgba(172, 172, 172, 0.03) 240px),linear-gradient(90deg, rgb(60, 60, 60),rgb(12, 12, 12));*/
    background: linear-gradient(35deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 53%,rgba(109, 109, 109, 0.03) 53%, rgba(109, 109, 109, 0.03) 59%,rgba(228, 228, 228, 0.03) 59%, rgba(228, 228, 228, 0.03) 66%,rgba(42, 42, 42, 0.03) 66%, rgba(42, 42, 42, 0.03) 95%,rgba(165, 165, 165, 0.03) 95%, rgba(165, 165, 165, 0.03) 100%),linear-gradient(205deg, rgba(62, 62, 62, 0.03) 0%, rgba(62, 62, 62, 0.03) 31%,rgba(200, 200, 200, 0.03) 31%, rgba(200, 200, 200, 0.03) 41%,rgba(30, 30, 30, 0.03) 41%, rgba(30, 30, 30, 0.03) 47%,rgba(151, 151, 151, 0.03) 47%, rgba(151, 151, 151, 0.03) 60%,rgba(95, 95, 95, 0.03) 60%, rgba(95, 95, 95, 0.03) 100%),linear-gradient(30deg, rgba(7, 7, 7, 0.03) 0%, rgba(7, 7, 7, 0.03) 19%,rgba(63, 63, 63, 0.03) 19%, rgba(63, 63, 63, 0.03) 33%,rgba(175, 175, 175, 0.03) 33%, rgba(175, 175, 175, 0.03) 37%,rgba(244, 244, 244, 0.03) 37%, rgba(244, 244, 244, 0.03) 60%,rgba(177, 177, 177, 0.03) 60%, rgba(177, 177, 177, 0.03) 100%),
        linear-gradient(90deg, rgb(20, 20, 20), rgb(35, 35, 35));
}



/** FRONT PAGE **/
.frontPageContentWrapper {
    display: grid;
    grid-template-areas: "frontPageText" "frontPagePicture";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
}

@media only screen and (min-width: 1024px) {
    .frontPageContentWrapper {
        grid-template-areas: "frontPagePicture frontPageText";
        grid-template-rows: 100%;
        grid-template-columns: 50% 50%;
    }
}

#frontPagePictureBox {
    grid-area: frontPagePicture;
    /*width: 100%;*/
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {
    #frontPagePictureBox {
        overflow-x: hidden;

    }
}

#frontPagePicture {
    height: auto;
    width: 90%;
    margin: auto;
}

@media only screen and (min-width: 1024px) {
    #frontPagePicture {
        width: auto;
        height: 100%;
        margin: 0;
    }
}

#frontPageText {
    grid-area: frontPageText;
    color: silver;
    display: grid;
    height: 100%;
    box-sizing: border-box;
    padding: 15% 5% 15% 5%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10vh;
    grid-template-areas: "frontPageTitle" "frontPageDesc" "frontPageArticleButton";
}

@media only screen and (min-width: 1024px) {
    #frontPageText {
        padding: 15% 15% 15% 0;
    }
}

#frontPageTitle {
    grid-area: frontPageTitle;
    font-size: 400%;
}

@media only screen and (max-width: 1023px) {
    #frontPageTitle {
        text-align: center;
    }
}

#frontPageDesc {
    grid-area: frontPageDesc;
    font-size: 250%;
}

@media only screen and (max-width: 1023px) {
    #frontPageDesc {
        text-align: center;
    }
}

#frontPageArticleButton {
    grid-area: frontPageArticleButton;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1024px) {
    #frontPageArticleButton:hover{
        box-shadow: 0 10px 20px 10px #191919;
        width: 110%;
        height: 110%;
        margin-left: -5%;
    }
}

#frontPageArticleAnchor {
    font-size: 350%;
}
