/** HEADER **/
#siteHeader {
    grid-area: header;
    display: grid;
    position: sticky;
    z-index: 100;
    top: 0;
    grid-template-areas: "hdrLogo hdrNavbarMobile";
    grid-template-columns: 1fr calc(var(--headerHeightForMobile) * 0.7);
    grid-template-rows: 1fr;
    background:
            linear-gradient(45deg, transparent 46%,rgba(114, 114, 114,0.06) 46%,rgba(94, 94, 94,0.06) 70%,transparent 70%),
            linear-gradient(135deg, transparent 59%,rgba(114, 114, 114,0.06) 59%,rgba(124, 124, 124,0.06) 91%,transparent 91%),
            linear-gradient(135deg, transparent 13%, rgba(124, 124, 124, 0.06) 13%, rgba(114, 114, 114, 0.06) 45%, transparent 45%),
            linear-gradient(45deg, rgba(131, 131, 131, 0.1), rgba(121, 121, 121, 0.1) 32%, transparent 32%),
            linear-gradient(90deg, #191919, #191919);
}

@media only screen and (max-width: 1023px) {
    #siteHeader {
        box-shadow: inset 0 -3px 3px 1px silver, inset 0 0 20px 10px black;
    }
    #stickyFade {
        transform: translateY(calc(0px - var(--headerHeightForTablet)));
    }
    #stickyTransition {
        transition: all 0.3s ease;
    }
}

@media only screen and (min-width: 1024px) {
    #siteHeader {
        grid-template-areas: "hdrLogo" "hdrNewsletter" "hdrNavbar";
        --hdrHeight: var(--headerHeightForSmallScreen);
        --hdrLogoHeight: 0.33; /* percents */
        --hdrMewsletterHeight: 0.32; /* percents */
        grid-template-rows: calc(var(--hdrLogoHeight) * 100%) calc(var(--hdrMewsletterHeight) * 100%) 1fr;
        grid-template-columns: 1fr;
        top: calc(0px - var(--hdrHeight) * (var(--hdrLogoHeight) + var(--hdrMewsletterHeight)));
    }
}

@media only screen and (min-width: 1200px) {
    #siteHeader {
        --hdrLogoHeight: 0.38; /* percents */
        --hdrMewsletterHeight: 0.24; /* percents */
        --hdrHeight: var(--headerHeightForLargeScreen);
    }
}






/** HEADER - banner **/
#hdrLogo {
    grid-area: hdrLogo;
    box-sizing: border-box;
}

#hdrLogoLink {
    color: silver;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    #hdrLogoLink {
        font-size: 200%;
    }
}

@media only screen and (min-width: 1024px) {
    #hdrLogo {
        box-shadow: inset 0 -3px 3px 1px silver, inset 0 0 20px 10px black;
    }
}






/** HEADER - newsletter **/
#hdrNewsletter {
    display: none;
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter {
        grid-area: hdrNewsletter;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        grid-template-areas: "hdrNewsletterTitle hdrNewsletterTitle" "hdrNewsletterForm hdrNewsletterForm";
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter {
        grid-template-areas: "hdrNewsletterTitle hdrNewsletterForm" "hdrNewsletterTitle hdrNewsletterForm";
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter .newsletterTitle {
        grid-area: hdrNewsletterTitle;
        font-size: 190%;
        color: silver;
        text-align: end;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter .newsletterTitle {
        justify-content: flex-end;
        padding-right: 1%;
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter .newsletterForm {
        grid-area: hdrNewsletterForm;
        justify-content: center;
        margin: auto 0 auto 0;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter .newsletterForm {
        padding-left: 1%;
        justify-content: flex-start;
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter .newsletterSubmitButton {
        width: 150px;
        font-size: 160%;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter .newsletterSubmitButton {
        width: 120px;
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter .newsletterNameInput {
        width: 150px;
        font-size: 160%;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter .newsletterNameInput {
        width: 120px;
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter .newsletterEmailInput {
        width: 300px;
        font-size: 160%;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter .newsletterEmailInput {
        width: 250px;
    }
}






/** HEADER - menu**/
#hdrNavbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 105;
    overflow: hidden;
    box-sizing: border-box;
}

.hdrNavbarMobileTransition {
    transition: all 0.3s ease;
}

@media only screen and (max-width: 1023px) {
    #hdrNavbar {
        background: rgba(0, 0, 0, 0.9);
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNavbar {
        overflow: visible;
        display: block;
        grid-area: hdrNavbar;
        width: 100%;
        position: initial;
    }
}

#hdrNavbarList {
    position: relative;
    top: 0;
    width: 100%;
    height: calc(100% - var(--headerHeightForMobile));
    display: flex;
    flex-direction: column;
    margin-top: var(--headerHeightForMobile);
}

@media only screen and (min-width: 600px) {
    #hdrNavbarList {
        height: calc(100% - var(--headerHeightForTablet));
        margin-top: var(--headerHeightForTablet);
    }
}

@media only screen and (min-width: 1024px) {
    #hdrNavbarList {
        flex-direction: row;
        margin-top: 0;
        height: 100%;
    }
}

.hdrNavbarListItem {
    box-sizing: border-box;
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--customGoldBottomBorder), var(--customGoldTopBorder);
}

@media only screen and (min-width: 1024px) {
    .hdrNavbarListItem {
        height: 100%;
        width: 25%;
        flex-direction: row;
        position: relative;
        z-index: 4;
        border: var(--gradientButtonBorder);
        background: var(--gradientButton);
    }
}

.hdrNavbarListItem::before {
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
}

.hdrNavbarListItem:hover::before {
    opacity: 1;
}

.hdrNavbarListItem:last-child {
    box-shadow: 0 0 0 0 rgba(204,169,44, 1);
}

.pulseAnimationButton {
    animation: pulse 3s infinite;
    animation-delay: 1s;
}

@keyframes pulse {
    20% {
        box-shadow: 0 0 20px 20px rgba(204,169,44, 0);
    }
    30%, 100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}


@media only screen and (min-width: 1024px) {
    .hdrNavbarListItem::before {
        background: var(--customGoldLeftBorder), var(--customGoldRightBorder),
                linear-gradient(135deg, rgba(15, 15, 15, 0.7) 12.5%,
        rgba(21, 21, 21, 0.7) 12.5%, rgba(21, 21, 21, 0.7) 25%,
        rgba(28, 28, 28, 0.7) 25%, rgba(28, 28, 28, 0.7) 37.5%,
        rgba(34, 34, 34, 0.7) 37.5%, rgba(34, 34, 34, 0.7) 50%,
        rgba(40, 40, 40, 0.7) 50%, rgba(40, 40, 40, 0.7) 62.5%,
        rgba(46, 46, 46, 0.7) 62.5%, rgba(46, 46, 46, 0.7) 75%,
        rgba(52, 52, 52, 0.7) 75%, rgba(52, 52, 52, 0.7) 87.5%,
        rgba(58, 58, 58, 0.7) 87.5%),
        linear-gradient(45deg, rgb(70, 70, 70) 12.5%,
                rgb(64, 64, 64) 12.5%, rgb(64, 64, 64) 25%,
                rgb(58, 58, 58) 25%, rgb(58, 58, 58) 37.5%,
                rgb(52, 52, 52) 37.5%, rgb(52, 52, 52) 50%,
                rgb(46, 46, 46) 50%, rgb(46, 46, 46) 62.5%,
                rgb(40, 40, 40) 62.5%, rgb(40, 40, 40) 75%,
                rgb(34, 34, 34) 75%, rgb(34, 34, 34) 87.5%,
                rgb(28, 28, 28) 87.5%);
    }
}

.hdrNavbarListItem a {
    display: flex;
    font-size: 250%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: silver;
    font-weight: bold;
    width: 100%;
    transition: all 0.5s ease;
    height: calc(100% - 4px);
}

@media only screen and (min-width: 1024px) {
    .hdrNavbarListItem a {
        width: calc(100% - 4px);
        height: 100%;
    }
}

.navItemBorder {
    height: 2px;
    width: 100%;
    background: linear-gradient(to left, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
    rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%);
}

@media only screen and (min-width: 1024px) {
    .navItemBorder {
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0) 20%, rgba(155, 117, 0, 0.2) 30%, rgba(184, 143, 0, 1) 50%,
        rgba(155, 115, 0, 0.2) 70%, rgba(0,0,0,0) 80%);
    }
}

#hdrNavbarMobileButton {
    grid-area: hdrNavbarMobile;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 106;
}

@media only screen and (min-width: 1024px) {
    #hdrNavbarMobileButton {
        display: none;
    }
}

.hdrNavbarMobileBars {
    width: 90%;
    margin-right: 10%;
    height: 10%;
    background: silver;
    transition: all 0.3s ease;
}

#hdrNavbarMobileBar1 {
    margin-top: 15%;
}

#hdrNavbarMobileBar3 {
    margin-bottom: 15%;
}

.changeMobileNavButtonState #hdrNavbarMobileBar1 {
    transform: rotate(-45deg) translate(-50%, 50%);
}

.changeMobileNavButtonState #hdrNavbarMobileBar2 {
    opacity: 0;
}

.changeMobileNavButtonState #hdrNavbarMobileBar3 {
    transform: rotate(45deg) translate(-50%, -50%);
}

#shopPreview {
    display: none;
}



@media only screen and (min-width: 1024px) {
    .hdrNavbarShopItem {
        position: relative;
    }

    #shopPreview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        opacity: 0;
        transition: all 0.3s ease;
        width: 0;
        height: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        top: calc(100% + 5px);
        box-sizing: border-box;
        right: -5px;
        border: var(--gradientButtonBorder);
        background: var(--gradientButton);
        box-sizing: border-box;
    }

    #shopPreview .teaseProduct {
        padding: 0 2% 0 2%;
    }

    #shopPreview .teaseProduct .teaseProductAnchor {
        justify-content: flex-start;
        height: auto;
    }

    #shopPreview .teaseProduct .teaseProductAnchor .teaseProductTitle {
        font-size: 1.6rem;
    }

    #shopPreview .teaseProduct .teaseProductPrice {
        font-size: 1.2rem;
    }

    #shopPreview .teaseProduct .teaseProductBasketButtons a {
        font-size: 1.2rem;
    }

    .hdrNavbarShopItem:hover #shopPreview {
        height: 60vh;
        width: 40vw;
        opacity: 1;
    }
}