/*
=====================================================
    HEADER
=====================================================
*/
#siteHeader {
    grid-area: header;
    display: grid;
    position: sticky;
    z-index: 100;
    top: 0;
    grid-template-areas: "hdrLogo hdrNavbarMobile";
    grid-template-columns: 1fr calc(var(--headerHeight) * 0.7);
    grid-template-rows: 1fr;
}

@media only screen and (max-width: 1023px) {
    #siteHeader {
        box-shadow: inset 0 -3px 3px 1px silver, inset 0 0 20px 10px black;
    }
    .stickyFade {
        transform: translateY(calc(0px - var(--headerHeight)));
    }
    .stickyTransition {
        transition: all 0.3s ease;
    }
}

@media only screen and (min-width: 1024px) {
    #siteHeader {
        grid-template-areas: "hdrLogo" "hdrNewsletter" "hdrNavbar";
        --hdrLogoHeight: 0.33; /* percents */
        --hdrMewsletterHeight: 0.32; /* percents */
        grid-template-rows: calc(var(--hdrLogoHeight) * 100%) calc(var(--hdrMewsletterHeight) * 100%) 1fr;
        grid-template-columns: 1fr;
        top: calc(0px - var(--headerHeight) * (var(--hdrLogoHeight) + var(--hdrMewsletterHeight)));
    }
}

@media only screen and (min-width: 1200px) {
    #siteHeader {
        --hdrLogoHeight: 0.38; /* percents */
        --hdrMewsletterHeight: 0.24; /* percents */
    }
}



/*
=====================================================
    HEADER BANNER
=====================================================
*/
#hdrLogo {
    grid-area: hdrLogo;
}

#hdrLogoLink {
    font-size: 3.5rem;
}

@media only screen and (min-width: 1024px) {
    #hdrLogo {
        box-shadow: inset 0 -3px 3px 1px silver, inset 0 0 20px 10px black;
    }
}



/*
=====================================================
    HEADER NEWSLETTER
=====================================================
*/
#hdrNewsletter {
    display: none;
}

@media only screen and (min-width: 1024px) {
    #hdrNewsletter {
        grid-area: hdrNewsletter;
        flex-direction: column;
        overflow: hidden;
        display: flex;
    }

    #hdrNewsletterTitle {
        font-size: 1.8rem;
        width: auto;
    }

    #hdrNewsletterForm {
        display: flex;
        align-items: center;
        width: 620px;
        justify-content: space-between;
        height: 50%;
    }

    #hdrNewsletterForm input {
        height: 80%;
        font-size: 1.6rem;
    }

    #hdrNewsletterNameInput, #hdrNewsletterSubmitButton {
        width: 24%;
    }

    #hdrNewsletterEmailInput {
        width: 49%;
    }
}

@media only screen and (min-width: 1200px) {
    #hdrNewsletter {
        flex-direction: row;
    }

    #hdrNewsletterTitle {
        margin-right: 1%;
    }

    #hdrNewsletterForm {
        margin-left: 1%;
        width: 510px;
        height: 70%;
    }
}



/*
=====================================================
    HEADER NAVBAR
=====================================================
*/
#hdrNavbar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    z-index: 105;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.9);
}

.hdrNavbarMobileTransition {
    transition: all 0.3s ease;
}

@media only screen and (min-width: 1024px) {
    #hdrNavbar {
        overflow: visible;
        grid-area: hdrNavbar;
        width: 100%;
        position: initial;
    }
}

#hdrNavbarList {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: var(--headerHeight);
}

@media only screen and (min-width: 1024px) {
    #hdrNavbarList {
        flex-direction: row;
        padding-top: 0;
        height: 100%;
    }
}

.hdrNavbarListItem {
    height: 25%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--customGoldBottomBorder), var(--customGoldTopBorder);
}

@media only screen and (min-width: 1024px) {
    .hdrNavbarListItem {
        height: 100%;
        width: 25%;
        flex-direction: row;
        z-index: 4;
        border: var(--gradientButtonBorder);
        background: var(--gradientButton);
    }
    
    .hdrNavbarListItem::before {
        background: rgba(50, 50, 50, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .hdrNavbarListItem:hover::before {
        opacity: 1;
    }

    .hdrNavbarListItem:last-child {
        box-shadow: 0 0 0 0 rgba(204,169,44, 1);
    }

    .hdrNavbarListItem::before {
        background: rgba(255, 255, 255, 0.05);
    }
}

.hdrNavbarListItemAnchor {
    font-size: 2.5rem;
}



/*
=====================================================
    HEADER NAVBAR MOBILE BUTTON
=====================================================
*/
#hdrNavbarMobileButton {
    grid-area: hdrNavbarMobile;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 106;
    padding: 15% 10% 15% 0;
}

@media only screen and (min-width: 1024px) {
    #hdrNavbarMobileButton {
        display: none;
    }
}

.hdrNavbarMobileBars {
    height: 12%;
    border-radius: 5px;
    background: silver;
    transition: all 0.3s ease;
}

.changeMobileNavButtonState #hdrNavbarMobileBar1 {
    transform: rotate(-45deg) translate(-50%, 50%);
}

.changeMobileNavButtonState #hdrNavbarMobileBar2 {
    opacity: 0;
}

.changeMobileNavButtonState #hdrNavbarMobileBar3 {
    transform: rotate(45deg) translate(-50%, -50%);
}

.changeMobileNavButtonState:after {
    z-index: -15;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    cursor: auto;
}



/*
=====================================================
    HEADER NAVBAR SHOP
=====================================================
*/

#shopPreview {
    display: none;
}

@media only screen and (min-width: 1024px) {
    #shopPreview {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        opacity: 0;
        transition: all 0.3s ease;
        width: 0;
        height: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        top: calc(100% + 5px);
        right: -5px;
        border: var(--gradientButtonBorder);
        background: var(--gradientButton);
    }

    #shopPreview .teaseProduct {
        padding: 1% 2% 1% 2%;
    }

    #shopPreview .teaseProductAnchor {
        justify-content: flex-start;
        height: auto;
    }

    #shopPreview #teaseProductTitle {
        font-size: 1.6rem;
    }

    #shopPreview #teaseProductPrice {
        font-size: 1rem;
    }

    #shopPreview #teaseProductMoreAnchor {
        font-size: 1.4rem;
    }

    .hdrNavbarShopItem:hover #shopPreview {
        height: auto;
        max-height: 52vh;
        width: 50vw;
        opacity: 1;
    }
}