/*
=====================================================
    PAGE
=====================================================
*/
#pageHeader {
    margin-bottom: 2rem;
    font-size: 3rem;
    height: auto;
    padding: 1% 1% 1% 1%;
    background: linear-gradient(30deg, rgba(75, 75, 75, 0.8),
    rgba(105, 105, 105, 0.8) 50%, rgba(75, 75, 75, 0.8)), #191919;
}

#pageTitle {
    width: 100%;
    height: 100%;
}

#pageContent, #postContent {
    padding: 0 5% 0 5%;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#pageContent > h1, #pageContent > h2, #pageContent > h3, #pageContent > h4, #pageContent > h5, #pageContent > h6,
#postContent > h1, #postContent > h2, #postContent > h3, #postContent > h4, #postContent > h5, #postContent > h6,
.woocommerce-billing-fields h3, .woocommerce-additional-fields h3 {
    background: linear-gradient(30deg, rgba(75, 75, 75, 0.8),
        rgba(105, 105, 105, 0.8) 50%, rgba(75, 75, 75, 0.8)), #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1% 5% 1% 5%;
    margin: 2% 0 2% 0;
    box-shadow: 0 8px 4px 0 #2d2d2d;
}

#pageContent > h1, #postContent > h1 {
    font-size: 2.875rem;
    padding: 2% 5% 2% 5%;
}

#pageContent > h2, #postContent > h2 {
    font-size: 2.75rem;
    padding: 1.5% 5% 1.5% 5%;
}

#pageContent > h3, #postContent > h3, .woocommerce-billing-fields h3, .woocommerce-additional-fields h3 {
    font-size: 2.625rem;
    padding: 1% 5% 1% 5%;
}

#pageContent > h4, #postContent > h4 {
    font-size: 2.375rem;
    padding: 0.5% 5% 1% 5%;
}

#pageContent > h5, #postContent > h5 {
    font-size: 2.25rem;
    padding: 0 5% 0 5%;
}

#pageContent > h6, #postContent > h6 {
    font-size: 2.125rem;
    padding: 0 5% 0 5%;
}

#pageContent ol, #pageContent ul, #pageContent p, #postContent p {
    padding: 0 5% 0 5%;
}

#pageContent ol ul {
    list-style-type: circle;
}

#pageContent ol ol, #pageContent ol ul, #postContent ol, #postContent ul, .wp-block-table {
    padding: 0 10% 0 10%;
}