#singleProductContainer {
    width: 100%;
    padding: 0 5% 5% 5%;
    height: auto;
    display: grid;
    grid-template-areas: "singleProductPictureContainer"
        "singleProductSummary"
        "singleProductDescription";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
    #singleProductContainer {
        grid-template-areas:
            "singleProductPictureContainer singleProductSummary"
            "singleProductDescription singleProductDescription";
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 2fr;
    }
}

#singleProductPictureContainer {
    grid-area: singleProductPictureContainer;
}

#singleProductPicture {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#singleProductSummary {
    grid-area: singleProductSummary;
    padding: 0 0 0 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.8rem;
}

#singleProductSummary .cart, #singleProductSummary .cart > *:not(button) {
    width: 100%;
    height: auto;
}

#singleProductSummary .cart .variations tbody tr .value select {
    font-size: 1.8rem;
    background: transparent;
    border: 5px solid silver;
    border-radius: 5px;
    height: 5rem;
    width: 100%;
}
#singleProductSummary .cart .variations tbody tr .value select option {
    background: rgba(0, 0, 0, 0.9);
    border: 5px solid silver;
    border-radius: 5px;
    font-size: 3rem;
}

.single_add_to_cart_button {
    height: 8rem;
    width: 100%;
    font-size: 3rem;
    border: var(--gradientButtonBorder);
    background: var(--gradientButton);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 1024px) {
    .single_add_to_cart_button:hover {
        letter-spacing: 2px;
    }
}

#singleProductSummary .price {
    padding: 0;
    margin: 0;
}

#singleProductSummary .woocommerce-product-details__short-description {
    height: auto;
}

#singleProductDescription {
    grid-area: singleProductDescription;
    padding: 2% 0 0 0;
}

#singleProductDescriptionHeader  {
    background: linear-gradient(45deg, rgba(75, 75, 75, 0.8),
    rgba(105, 105, 105, 0.8) 50%, rgba(75, 75, 75, 0.8)), #191919;
    padding: 1% 0 1% 0;
    font-size: 2.5rem;
    box-shadow: 8px 8px 4px 0 #2d2d2d;
}

#singleProductDescriptionContent {
    font-size: 2rem;
    text-align: left;
    padding: 2%;
    height: auto;
}

#singleProductRedirectToBuyAnchorContainer {
    height: 8rem;
    font-size: 3rem;
}
