:root {
    --deviceHeight: 1188px;
    --headerHeightForMobile: calc(var(--deviceHeight) * 0.12);
    --headerHeightForTablet: calc(var(--deviceHeight) * 0.12);
    --headerHeightForSmallScreen: calc(var(--deviceHeight) * 0.3);
    --headerHeightForLargeScreen: calc(var(--deviceHeight) * 0.25);
}


/** SITE CONTAINER**/
#siteContainer {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    /*grid-template-rows: 20vh auto auto;*/
    grid-template-rows: var(--headerHeightForMobile) auto auto;
}

#siteContainerFrontPage {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    /*grid-template-rows: 20vh 80vh auto;*/
    grid-template-columns: 1fr;
    grid-template-rows: var(--headerHeightForMobile) auto auto;
}

@media only screen and (min-width: 600px) {
    #siteContainer {
        grid-template-rows: var(--headerHeightForTablet) auto auto;
    }
    #siteContainerFrontPage {
        grid-template-rows: var(--headerHeightForTablet) auto auto;
    }
}

@media only screen and (min-width: 1024px) {
    #siteContainer {
        /*grid-template-rows: 26rem auto auto;*/
        grid-template-rows: var(--headerHeightForSmallScreen) auto auto;
    }
    #siteContainerFrontPage {
        /*grid-template-rows: 15rem 82.5rem auto;*/
        grid-template-rows: var(--headerHeightForSmallScreen) calc(var(--deviceHeight) - var(--headerHeightForSmallScreen)) auto;
    }
}

@media only screen and (min-width: 1200px) {
    #siteContainer {
        grid-template-rows: var(--headerHeightForLargeScreen) auto auto;
    }
    #siteContainerFrontPage {
        /*grid-template-rows: 15rem 82.5rem auto;*/
        grid-template-rows: var(--headerHeightForLargeScreen) calc(var(--deviceHeight) - var(--headerHeightForLargeScreen)) auto;
        /*grid-template-rows: 20vh 80vh auto;*/
    }
}






/** Section - main content**/
#content {
    grid-area: content;
    /*background-color: #b76c77;*/
    padding-bottom: 1px;
}
