:root {
    --deviceHeight: 1188px;
    --headerHeightForMobile: calc(var(--deviceHeight) * 0.12);
    --headerHeightForTablet: calc(var(--deviceHeight) * 0.12);
    --headerHeightForSmallScreen: calc(var(--deviceHeight) * 0.3);
    --headerHeightForLargeScreen: calc(var(--deviceHeight) * 0.25);
}


/** SITE CONTAINER**/
#siteContainer {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-columns: 1fr;
    /*grid-template-rows: 20vh auto auto;*/
    grid-template-rows: var(--headerHeightForMobile) auto auto;
}

#siteContainerFrontPage {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    /*grid-template-rows: 20vh 80vh auto;*/
    grid-template-columns: 1fr;
    grid-template-rows: var(--headerHeightForMobile) auto auto;
}

@media only screen and (min-width: 600px) {
    #siteContainer {
        grid-template-rows: var(--headerHeightForTablet) auto auto;
    }
    #siteContainerFrontPage {
        grid-template-rows: var(--headerHeightForTablet) auto auto;
    }
}

@media only screen and (min-width: 1024px) {
    #siteContainer {
        /*grid-template-rows: 26rem auto auto;*/
        grid-template-rows: var(--headerHeightForSmallScreen) auto auto;
    }
    #siteContainerFrontPage {
        /*grid-template-rows: 15rem 82.5rem auto;*/
        grid-template-rows: var(--headerHeightForSmallScreen) calc(var(--deviceHeight) - var(--headerHeightForSmallScreen)) auto;
    }
}

@media only screen and (min-width: 1200px) {
    #siteContainer {
        grid-template-rows: var(--headerHeightForLargeScreen) auto auto;
    }
    #siteContainerFrontPage {
        /*grid-template-rows: 15rem 82.5rem auto;*/
        grid-template-rows: var(--headerHeightForLargeScreen) calc(var(--deviceHeight) - var(--headerHeightForLargeScreen)) auto;
        /*grid-template-rows: 20vh 80vh auto;*/
    }
}






/** Section - main content**/
#content {
    grid-area: content;
    /*background-color: #b76c77;*/
    padding-bottom: 1px;
    background:
        linear-gradient(35deg,
            rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 53%,
            rgba(109, 109, 109, 0.03) 53%, rgba(109, 109, 109, 0.03) 59%,
            rgba(228, 228, 228, 0.03) 59%, rgba(228, 228, 228, 0.03) 66%,
            rgba(42, 42, 42, 0.03) 66%, rgba(42, 42, 42, 0.03) 100%),
        linear-gradient(205deg,
            rgba(62, 62, 62, 0.03) 0%, rgba(62, 62, 62, 0.03) 31%,
            rgba(200, 200, 200, 0.03) 31%, rgba(200, 200, 200, 0.03) 41%,
            rgba(30, 30, 30, 0.03) 41%, rgba(30, 30, 30, 0.03) 47%,
            rgba(151, 151, 151, 0.03) 47%, rgba(151, 151, 151, 0.03) 60%,
            rgba(95, 95, 95, 0.03) 60%, rgba(95, 95, 95, 0.03) 100%),
        linear-gradient(30deg,
            rgba(7, 7, 7, 0.03) 0%, rgba(7, 7, 7, 0.03) 19%,
            rgba(63, 63, 63, 0.03) 19%, rgba(63, 63, 63, 0.03) 33%,
            rgba(175, 175, 175, 0.03) 33%, rgba(175, 175, 175, 0.03) 37%,
            rgba(244, 244, 244, 0.03) 37%, rgba(244, 244, 244, 0.03) 60%,
            rgba(177, 177, 177, 0.03) 60%, rgba(177, 177, 177, 0.03) 100%),
         linear-gradient(90deg, rgb(20, 20, 20), rgb(35, 35, 35));
}
