<h1>Settings</h1>
{{ fn('settings_errors') }}
<form method="post" action="options.php">
    {{ fn('settings_fields', 'sZTheme-settings-group') }}
    {{ fn('do_settings_sections', 'sZThemeSettings') }}
    {{ fn('submit_button') }}
</form>