<form class="contactForm" name="contactForm" method="post" action="">
{#    <label for="contactFormFirstName">Twoje imię *</label>#}
    <input type="text" name="contactFormFirstName" pattern="[a-zA-Z0-9 ]+" maxlength="50"
            placeholder="Twoje imię" required>
{#    value="{{ fn('insertValueIntoInput', 'contactFormFirstName') }}"#}
{#    <label for="contactFormAddress">Adres Email *</label>#}
    <input type="email" name="contactFormAddress" maxlength="80" placeholder="Email" required>
{#    <label for="contactFormTitle">Tytuł *</label>#}
{#    <input type="text" name="contactFormTitle" maxlength="80" placeholder="Tytuł">#}
{#    <label for="contactFormMessage">Wiadomość *</label>#}
    <textarea rows=7 name="contactFormMessage" maxlength="1000" placeholder="Wiadomość"></textarea>
    <input class="contactFormSubmit" name="contactFormSubmit" type="submit" value="Wyślij" required>
</form>