<section id="footerNewsletter">
    {% include "newsletter.twig" with {
        "newsletterTitle": fn('sZThemeFooterNewsletterH1OptionValue', fn('sZThemeFooterNewsletterH1OptionName')),
        "newsletterSubtitle": fn('sZThemeFooterNewsletterH2OptionValue', fn('sZThemeFooterNewsletterH2OptionName')),
        "newsletterDescription": fn('sZThemeFooterNewsletterDescOptionValue', fn('sZThemeFooterNewsletterDescOptionName'))
    }%}

</section>
<section id="footerContact">
    <h4 id="footerContactTitle">Formularz kontaktowy</h4>
    <ul id="footerContactList">
        <li>Adres email: <a href="mailto:cornelloshop@gmail.com">cornelloshop@gmail.com</a></li>
        <li>Numer telefonu: <a href="tel:+48884674219">(+48) 884 674 219</a></li>
    </ul>
    {% include "emailForm.twig" %}
</section>

<section id="footerLinks">
    <ul id="footerLinksList">
        <li><a href="{{site.url}}/polityka-prywatnosci">Polityka prywatności</a></li>
        <li>&bull;</li>
        <li><a href="{{site.url}}/regulamin-sklepu-internetowego">Regulamin sprzedaży</a></li>
        <li>&bull;</li>
        <li><a id="footerSitemap">Mapa strony</a></li>
    </ul>
</section>

<section id="footerCopyright">
{#    <span> test</span>#}
    <p>Copyright &#169; {{"now"|date('Y')}} szczesliwyzwiazek.pl</p>
    <p>Powered by theme created by <a>Kamil Brodziak</a></p>
</section>