 <div id="footerNewsletter">
        {% include "newsletter.twig" with {"newsletterTitle": "Poznaj ponad 20 sekretnych technik atrakcyjności!",
            "newsletterSubtitle": "﻿I zacznij korzystać z wiedzy, o której inni nie mają pojęcia",
            "newsletterDescription": "Odbierz ebooka Generator Atrakcyjności całkowicie za darmo wpisując najlepszy adres email i imię poniżej.
        "}%}

</div>
<div class="footerItemBorder"></div>
<div id="footerContact">
    <h4 id="footerContactTitle">Dane kontaktowe</h4>
    <ul id="footerContactList">
        <li>Adres email: <a href="mailto:cornelloshop@gmail.com">cornelloshop@gmail.com</a></li>
        <li>Numer telefonu: <a href="tel:+48884674219">(+48) 884 674 219</a></li>
        <li><a href="{{site.url}}/polityka-prywatnosci" class="footerContactLinks">Polityka prywatności</a></li>
        <li><a href="{{site.url}}/regulamin-sprzedazy" class="footerContactLinks">Regulamin sprzedaży</a></li>
        <li><a id="footerSitemap" class="footerContactLinks">Mapa strony</a></li>
    </ul>
</div>
<div id="footerCopyright">
    <span>Copyright &#169; {{"now"|date('Y')}} szczesliwyzwiazek.pl</span>
    <span>Powered by <a href="wordpress.org">Wordpress</a> and <a>Kamil Brodziak</a> theme.</span>
</div>