{% extends "base.twig" %}

{% block content %}
    <div id="contentWrapper" class="frontPageContentWrapper">
        <div id="frontPagePicture">
            <img src="http://localhost/kornel/wp-content/uploads/2020/03/stronaStartowa-1.png">
        </div>
        <div id="frontPageText">
            <h3 id="frontPageTitle"></h3>
            <div id="frontPageDesc"></div>
            <div id="frontPageArticleButton" class="gradientButton">
                <a href="{{site.url}}/zacznij-tutaj" id="frontPageArticleAnchor" class="gradientButtonAnchor">Zacznij tutaj</a>
            </div>
        </div>
    </div>
{% endblock %}
