{% extends "base.twig" %}

{% block content %}
    <div id="frontPagePicture"></div>
    <div id="frontPageText">
        <h3 id="frontPageTitle">Fatalny związek stwórz już dziś!</h3>
        <div id="frontPageDesc">Życie Ci się nie układa? Za kasą czeka na Ciebie lada? W nocy kolega w Ciebie kutasa wkłada?
            A na telefonie masz system bada? Skończ już dziś życie razem ze stroną fatalny związek pe el!</div>
        <div id="frontPageArticleButton"><a id="frontPageArticleAnchor">Zacznij tutaj</a></div>
    </div>
{% endblock %}
