{% if newsletterTitle %}
<h4 class="newsletterTitle">{{ newsletterTitle }}</h4>
{% endif %}
{% if newsletterSubtitle %}
<h5 class="newsletterSubtitle">{{ newsletterSubtitle }}</h5>
{% endif %}
{% if newsletterDescription %}
    <div class="newsletterDescription">{{ newsletterDescription }}</div>
{% endif %}
<form method="post" action="" class="newsletterForm">
    <input class="newsletterNameInput" name="fname"type="text" required placeholder="Twoje imię"
           oninvalid="this.setCustomValidity('Proszę podaj imię')"
           oninput="setCustomValidity('')">
    <input class="newsletterEmailInput" name="email" type="email" required placeholder="Twój email"
           oninvalid="this.setCustomValidity('Proszę podaj poprawny email')"
           oninput="setCustomValidity('')">
    <input class="newsletterSubmitButton" type="submit" value="Zapisz się">
</form>