{% extends "base.twig" %}

{% block content %}
    <div class="contentWrapper" class="articleContentWrapper">
        <h1 id="pageTitle">Sklep</h1>
{#        {% if post.title %}#}
{#            <h2 id="productTitle">{{post.title}}</h2>#}
{#        {% endif %}#}
        {{post.content}}
        {% block products %}
            <div id="productList">
                {% for post in products %}
                    {% include ["partials/tease-product.twig"] %}
                {% endfor %}
{#                <div id="basketButton"></div>#}
            </div>
        {% endblock %}
    </div><!-- /content-wrapper -->
{% endblock %}