{% extends "base.twig" %}

{% block content %}
	<article id="page">
		<header id="pageHeader">
			<h1 id="pageTitle">{{post.title}}</h1>
		</header>
		<section id="pageContent">
			{% block pageContent %}
				{{post.content}}
			{% endblock %}
		</section>
	</article>
{% endblock %}