{% extends "base.twig" %}

{% block content %}

{#    {% do action('woocommerce_before_single_product') %}#}

    <article itemscope itemtype="http://schema.org/Product" class="single-product-details singleProduct {{ post.class }}">

        <div class="singleProductPictureContainer">
{#            {% do action('woocommerce_before_single_product_summary') %}#}
            <img src="{{ post.thumbnail.src('shop_single') }}" />
        </div>

        <div class="summary entry-summary productSummary">
            {% do action('woocommerce_single_product_summary') %}
        </div>

{#        {% do action('woocommerce_after_single_product_summary') %}#}
        {{ post.content }}
        <meta itemprop="url" content="{{ post.link }}" />

    </article>

{#    {% include ["partials/tease-product.twig"] with { products: related_products } %}#}

{#    {% do action('woocommerce_after_single_product') %}#}

{% endblock  %}